<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer_packed.js"></script>

<script type="text/javascript">

    var map, circle, markerC;
    var infowindow = null;


    function initialize() {

        var mapOptions = {
            zoom: 16,
            center: new google.maps.LatLng(37.508059, 375.082752)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var lat = "<%= params[:lat] %>";
        var lng = "<%= params[:lng] %>";
        if(lat) {
            map.setCenter(new google.maps.LatLng(lat, lng));
            map.setZoom(18);
        }

        addNodos();
        addCircle();
        printMarker();
    }

    function addCircle() {
        markerC = new google.maps.Marker({
            map: map,
            position: map.getCenter(),
            draggable: true,
            title: 'Marker C'
        });

        circle = new google.maps.Circle({
            map: map,
            clickable: false,
            radius: 500,
            fillColor: '#fff',
            fillOpacity: .4,
            strokeColor: '#313131',
            strokeOpacity: .4,
            strokeWeight: .8
        });
        circle.bindTo('center', markerC, 'position');

        google.maps.event.addListener(markerC, 'dragend', function() {
            resetMarker();
            printMarker();
        });
    }

    var marker_array = [];
    function addNodos() {
        <% @nodos.each do |itm| %>
            var node_lat = parseFloat("<%= itm.lat %>");
            var node_lng = parseFloat("<%= itm.lng %>");
            var node_id = "<%= itm.id %>";

            var marker = {id: node_id, lat: node_lat, lng: node_lng};
            marker_array.push(marker);
        <% end %>
    }

    var globalInfoWindow = new google.maps.InfoWindow({
        content: "holding..."
    });
    function viewLocPic() {
        console.log("this refers to " + this);
        globalInfoWindow.setPosition(this.getPosition());
        globalInfoWindow.setContent('<a href="nodos/' + this.id + '/edit" target="_parent">Edit</a>' +
                '<br>' +
                '<%#= link_to "delete", Nodos.find(5), method: :delete, data: { confirm: "Are you sure?" } %>');
        globalInfoWindow.open(map, this);
    }

    var markerInside = [];
    var iw;
    function printMarker() {
        var i;
        var icon = { anchor: new google.maps.Point(11, 11), url: "http://denovobiolabs.com/images/dot.png"};

        iw = new google.maps.InfoWindow({
            content: "holding..."
        });

        for(i = 0; i < marker_array.length; i++)
        {
            var mCoord = new google.maps.LatLng(marker_array[i].lat, marker_array[i].lng);
            var bounds = circle.getBounds();
            if(bounds.contains(mCoord))
            {
                var marker = new google.maps.Marker({
                    position: mCoord,
                    icon: icon,
                    map: map,
                    id: marker_array[i].id
                });

                google.maps.event.addListener(marker, 'click', viewLocPic);
                markerInside.push(marker);
            }
        }
    }

    function resetMarker() {
        for (var i = 0; i < markerInside.length; i++) {
            markerInside[i].setMap(null);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div data-role="header" data-theme="b">
  <h1>Nodi</h1>
  <div id="custom-border-radius" class="ui-btn-left" data-role="controlgroup" data-type="horizontal" data-mini="true">
    <%= link_to 'Back', 'intloc', 'data-icon' => 'back', 'data-role' => 'button', 'data-iconpos' => 'notext' %>
    <%= link_to 'Home', root_url, 'data-icon' => 'home', 'data-role' => 'button', 'data-iconpos' => 'notext', :target => '_parent' %>
  </div>
  <%= link_to 'Add', new_nodo_path, 'data-iconpos' => 'notext', 'data-icon' => 'plus', 'class' => 'ui-btn-right', :target => '_parent' %>
</div>

<div data-role="content">
  <div id="map-canvas" style="width: 100%; height: 630px" class="ui-corner-all"></div>
</div>