<%= form_for(@cafe) do |f| %>
  <% if @cafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cafe.errors.count, "error") %> prohibited this cafe from being saved:</h2>

      <ul>
      <% @cafe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :LM %><br>
    <%= f.text_field :LM %>
  </div>
  <div class="field">
    <%= f.label :LP %><br>
    <%= f.text_field :LP %>
  </div>
  <div class="field">
    <%= f.label :MM %><br>
    <%= f.text_field :MM %>
  </div>
  <div class="field">
    <%= f.label :MP %><br>
    <%= f.text_field :MP %>
  </div>
  <div class="field">
    <%= f.label :MEM %><br>
    <%= f.text_field :MEM %>
  </div>
  <div class="field">
    <%= f.label :MEP %><br>
    <%= f.text_field :MEP %>
  </div>
  <div class="field">
    <%= f.label :GM %><br>
    <%= f.text_field :GM %>
  </div>
  <div class="field">
    <%= f.label :GP %><br>
    <%= f.text_field :GP %>
  </div>
  <div class="field">
    <%= f.label :VM %><br>
    <%= f.text_field :VM %>
  </div>
  <div class="field">
    <%= f.label :VP %><br>
    <%= f.text_field :VP %>
  </div>
  <div class="field">
    <%= f.label :SM %><br>
    <%= f.text_field :SM %>
  </div>
  <div class="field">
    <%= f.label :SP %><br>
    <%= f.text_field :SP %>
  </div>
  <div class="field">
    <%= f.label :DM %><br>
    <%= f.text_field :DM %>
  </div>
  <div class="field">
    <%= f.label :DP %><br>
    <%= f.text_field :DP %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
