<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cafe.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cafe.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @cafe.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @cafe.lng %>
</p>

<p>
  <strong>Lm:</strong>
  <%= @cafe.LM %>
</p>

<p>
  <strong>Lp:</strong>
  <%= @cafe.LP %>
</p>

<p>
  <strong>Mm:</strong>
  <%= @cafe.MM %>
</p>

<p>
  <strong>Mp:</strong>
  <%= @cafe.MP %>
</p>

<p>
  <strong>Mem:</strong>
  <%= @cafe.MEM %>
</p>

<p>
  <strong>Mep:</strong>
  <%= @cafe.MEP %>
</p>

<p>
  <strong>Gm:</strong>
  <%= @cafe.GM %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @cafe.GP %>
</p>

<p>
  <strong>Vm:</strong>
  <%= @cafe.VM %>
</p>

<p>
  <strong>Vp:</strong>
  <%= @cafe.VP %>
</p>

<p>
  <strong>Sm:</strong>
  <%= @cafe.SM %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @cafe.SP %>
</p>

<p>
  <strong>Dm:</strong>
  <%= @cafe.DM %>
</p>

<p>
  <strong>Dp:</strong>
  <%= @cafe.DP %>
</p>

<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
