<style>

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-mcs
    {
        background: -o-linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        background: -webkit-linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        background: -webkit-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        border: 1px #000;
    }

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-ncs
     {
         background: -o-linear-gradient(to bottom right, rgba(255, 51, 0, 0.6), rgba(255, 171, 72, 0.6));
         background: linear-gradient(to bottom right, rgba(255, 51, 0, 0.6), rgba(255, 171, 72, 0.6));
         background: -webkit-linear-gradient(to bottom right, rgba(255, 51, 0, 0.6), rgba(255, 171, 72, 0.6));
         background: -webkit-gradient(to bottom right, rgba(255, 51, 0, 0.6), rgba(255, 171, 72, 0.6));
         border: 1px #000;
     }

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-dss
    {
        background: -o-linear-gradient(to bottom right, rgba(40, 64, 255, 0.60), rgba(0, 255, 204, 0.6));
        background: linear-gradient(to bottom right, rgba(40, 64, 255, 0.60), rgba(0, 255, 204, 0.6));
        background: -webkit-linear-gradient(to bottom right, rgba(40, 64, 255, 0.60), rgba(0, 255, 204, 0.6));
        background: -webkit-gradient(to bottom right, rgba(40, 64, 255, 0.60), rgba(0, 255, 204, 0.6));
        border: 1px #000;
    }

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-mg
    {
        background: -o-linear-gradient(to bottom right, rgba(255, 133, 17, 0.60), rgba(255, 255, 0, 0.6));
        background: linear-gradient(to bottom right, rgba(255, 133, 17, 0.60), rgba(255, 255, 0, 0.6));
        background: -webkit-linear-gradient(to bottom right, rgba(255, 133, 17, 0.60), rgba(255, 255, 0, 0.6));
        background: -webkit-gradient(to bottom right, rgba(255, 133, 17, 0.60), rgba(255, 255, 0, 0.6));
        border: 1px #000;
    }

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-evt
    {
        background: -o-linear-gradient(to bottom right, rgba(24, 184, 50, 0.60), rgba(177, 255, 98, 0.60));
        background: linear-gradient(to bottom right, rgba(24, 184, 50, 0.60), rgba(177, 255, 98, 0.60));
        background: -webkit-linear-gradient(to bottom right, rgba(24, 184, 50, 0.60), rgba(177, 255, 98, 0.60));
        background: -webkit-gradient(to bottom right, rgba(24, 184, 50, 0.60), rgba(177, 255, 98, 0.60));
        border: 1px #000;
    }

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-rtt
    {
        background: -o-linear-gradient(to bottom right, rgba(116, 6, 12, 0.60), rgba(204, 0, 0, 0.6));
        background: linear-gradient(to bottom right, rgba(116, 6, 12, 0.60), rgba(204, 0, 0, 0.6));
        background: -webkit-linear-gradient(to bottom right, rgba(116, 6, 12, 0.60), rgba(204, 0, 0, 0.6));
        background: -webkit-gradient(to bottom right, rgba(116, 6, 12, 0.60), rgba(204, 0, 0, 0.6));
        border: 1px #000;
    }

    .ui-listview h2
    {
        color: #EFEFEF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        font: small-caps bold 2em Verdana, Arial, Helvetica, sans-serif;
    }

    .ui-listview li .ui-btn p
    {
        color: #c0c0c0;
    }

    .ui-listview li .ui-btn
    {
        color: #eee;
    }

    /* 3 column layout */
    @media ( min-width: 768px )
    {
        .ui-content
        {
            padding: 9px;
            vertical-align: middle;

            position: absolute;
            top: 23%;
            width: 98.5%;
        }

        .ui-listview li
        {
            float: left;
            width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
            height: 150px;
            margin: .5625em 1.2%;
        }

        .ui-btn
        {
            border: 1px #000;
        }

        .ui-listview li > .ui-btn
        {
            -webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
        }

        /* Make all list items and anchors inherit the border-radius from the UL. */
        .ui-listview li, .ui-listview li .ui-btn
        {
            -webkit-border-radius: inherit;
            border-radius: inherit;
        }

        /* Make text wrap. */
        .ui-listview h2 {
            white-space: normal;
            overflow: visible;
            position: absolute;
            left: 0;
            right: 0;
        }

        /* Text position */
        .ui-listview h2 {
            font-size: 1.25em;
            margin: 0;
            padding: .125em 1em;
            bottom: 50%;
        }

        /* If you want to add shadow, don't kill the focus style. */
        .ui-listview li {
            -moz-box-shadow: 0px 0px 9px #111;
            -webkit-box-shadow: 0px 0px 9px #111;
            box-shadow: 0px 0px 9px #111;
        }

        /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
        .ui-listview li > .ui-btn:hover {
            -moz-box-shadow: 0px 0px 12px #33ccff;
            -webkit-box-shadow: 0px 0px 12px #33ccff;
            box-shadow: 0px 0px 12px #33ccff;
        }

        /* Animate focus and hover style, and resizing. */
        .ui-listview li, .ui-listview .ui-btn
        {
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            transition: all 500ms ease;
        }
    }
</style>

<div data-role="header">
  <h1>WiCity</h1>
  <%= link_to 'Credits', '#popupDialog', 'data-icon' => 'gear', 'class' => 'ui-btn-right ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left', 'data-rel' => 'popup', 'data-position-to' => 'window', 'data-transition' => 'pop' %>

  <!--<#%= link_to 'Login', new_user_session_path, 'data-icon' => 'back', 'class' => 'ui-btn-left' %>-->
  <% if !user_signed_in? %>
      <%= link_to 'Login', '#popupLogin', 'data-icon' => 'user', 'class' => 'ui-btn-left ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left', 'data-rel' => 'popup', 'data-position-to' => 'window', 'data-transition' => 'pop' %>
  <% else %>
      <!-- <#%= link_to "Welcome #{current_user.name}, Logout", destroy_user_session_path, method: :delete, 'data-icon' => 'delete', 'class' => 'ui-btn-left', 'target' => '_parent' %> -->
      <%= link_to "Edit #{current_user.name}", edit_user_registration_path, 'data-icon' => 'user', 'class' => 'ui-btn-left', 'target' => '_parent' %>
  <% end %>

</div>

<div role="main" class="ui-content">
  <ul data-role="listview" data-inset="true">

    <li><a href="<%= root_url %>intloc" target="_parent" class="ui-btn ui-btn-mcs">
      <h2>Main City Services</h2>
    </a></li>

    <li><a href="<%= root_url %>nearserv" target="_parent" class="ui-btn ui-btn-ncs">
      <h2>Nearest City Services</h2>
    </a></li>

    <li><a href="" target="_parent" class="ui-btn ui-btn-dss">
      <h2>M-Recommender Systems &<br>City Social Network</h2>
    </a></li>

    <li><a href="" target="_parent" class="ui-btn ui-btn-mg">
      <h2>Mobile Government</h2>
    </a></li>

    <li><a href="" target="_parent" class="ui-btn ui-btn-evt">
      <h2>City & Regional Events</h2>
    </a></li>

    <li><a href="" target="_parent" class="ui-btn ui-btn-rtt">
      <h2>Real Time Traffic &<br>Environment Information</h2>
    </a></li>

  </ul>
</div>

<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width:100%;">
  <div data-role="header" data-theme="a">
    <h1>Credits</h1>
  </div>
  <div role="main" class="ui-content">
    <h3 class="ui-title">WiCity 2.0</h3>
    <p style="text-align: justify; width: 600px;">WiCity è un sistema di informazione per i cittadini in mobilità.<br>
      Esso fa parte del progetto K-Metropolis presentato nel 2010 al POR Sicilia 2007-2013
      e finanziato nel 2011 nella linea di intervento 4.1.1.1.<br><br>
      WiCity è sviluppato da un gruppo di lavoro del Dipartimento di Ingegneria Elettrica,
      Elettronica e Informatica dell'Università di Catania costituito da:
    <ul>
      <li>Alberto Faro (responsabile scientifico),</li>
      <li>Daniela Giordano (Data and Metadata Definition),</li>
      <li>Concetto Spampinato (Database Integration),</li>
      <li>Alfio Costanzo (Software Development).</li>
    </ul>
    <br>
    <div style="text-align: right">WebMaster: <a href="mailto:alfio.costanzo@dieei.unict.it" target="_parent">alfio.costanzo@dieei.unict.it</a></div>
    <br>
    <div style="text-align: center"><script type="text/javascript" src="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=wicity"></script>
      <noscript>
        <a href="http://www.shinystat.com/it" target="_top">
          <img src="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=wicity" alt="Statistiche gratis" border="0" />
        </a>
      </noscript>
    </div>

    </p>
  </div>
</div>