<div data-role="header">
  <h1>WiCity</h1>
  <%= link_to 'Credits', '#popupDialog', 'data-icon' => 'gear', 'class' => 'ui-btn-right ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left', 'data-rel' => 'popup', 'data-position-to' => 'window', 'data-transition' => 'pop' %>

  <!--<#%= link_to 'Login', new_user_session_path, 'data-icon' => 'back', 'class' => 'ui-btn-left' %>-->
  <% if !user_signed_in? %>
      <%= link_to 'Login', '#popupLogin', 'data-icon' => 'user', 'class' => 'ui-btn-left ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left', 'data-rel' => 'popup', 'data-position-to' => 'window', 'data-transition' => 'pop' %>
  <% else %>
      <!-- <#%= link_to "Welcome #{current_user.name}, Logout", destroy_user_session_path, method: :delete, 'data-icon' => 'delete', 'class' => 'ui-btn-left', 'target' => '_parent' %> -->
      <%= link_to "Edit #{current_user.name}", edit_user_registration_path, 'data-icon' => 'user', 'class' => 'ui-btn-left', 'target' => '_parent' %>
  <% end %>

</div>

<div data-role="content" style="position: absolute; top: 50%; width: 100%; margin-top: -5em;">

  <div class="ui-grid-b" style="margin-right: 2em">
    <div class="ui-block-a">
      <a href="<%= root_url %>intloc" style="text-decoration: none">
        <button class="ui-shadow ui-btn ui-corner-all">Main City Services</button>
      </a>
    </div>

    <div class="ui-block-b">
      <a href="<%= root_url %>nearserv" style="text-decoration: none" target="_parent">
        <button class="ui-shadow ui-btn ui-corner-all">Nearest City Services</button>
      </a>
    </div>

    <div class="ui-block-c">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Decision Support System</button></div>
    </div>
  </div>

  <div class="ui-grid-b" style="margin-right: 2em">
    <div class="ui-block-a">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Mobile Government</button></div>
    </div>

    <div class="ui-block-b">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Events</button></div>
    </div>

    <div class="ui-block-c">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Real Time Traffic & Environment Information</button></div>
    </div>
  </div>

</div>

<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width:100%;">
  <div data-role="header" data-theme="a">
    <h1>Credits</h1>
  </div>
  <div role="main" class="ui-content">
    <h3 class="ui-title">WiCity 2.0</h3>
    <p style="text-align: justify; width: 600px;">Il sistema WiCity è un sistema di informazione per i cittadini in mobilità.<br>
       Esso fa parte del progetto K-Metropolis presentato nel 2010 al POR Sicilia 2007-2013
       e finanziato nel 2011 nella linea di intervento 4.1.1.1.<br><br>
       WiCity è sviluppato da un gruppo di lavoro del Dipartimento di Ingegneria Elettrica,
       Elettronica e Informatica dell'Università di Catania costituito da:
       <ul>
        <li>Alberto Faro (responsabile scientifico),</li>
        <li>Daniela Giordano (Data and Metadata Definition),</li>
        <li>Concetto Spampinato (Database Integration),</li>
        <li>Alfio Costanzo (Software Development).</li>
       </ul>
       <br>
         <div style="text-align: right">WebMaster: <a href="mailto:alfio.costanzo@dieei.unict.it" target="_parent">alfio.costanzo@dieei.unict.it</a></div>
         <br>
         <div style="text-align: center"><script type="text/javascript" src="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=wicity"></script>
            <noscript>
                <a href="http://www.shinystat.com/it" target="_top">
                    <img src="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=wicity" alt="Statistiche gratis" border="0" />
                </a>
            </noscript>
         </div>

    </p>
  </div>
</div>