<style>

    .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn-mcs
    {
        background: -o-linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        background: -webkit-linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        background: -webkit-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
        border: 1px #000;
        box-shadow: 0px 0px 2px #111;
    }

    .ui-listview h2
    {
        color: #EFEFEF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        font: small-caps bold 2em Verdana, Arial, Helvetica, sans-serif;
    }

    .ui-listview li .ui-btn p
    {
        color: #c0c0c0;
    }

    .ui-listview li .ui-btn
    {
        color: #eee;
    }

    /* 3 column layout */
    @media ( min-width: 768px )
    {
        .ui-content
        {
            padding: 9px;
            vertical-align: middle;
        }

        .ui-listview li
        {
            float: left;
            width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
            height: 150px;
            margin: .5625em 1.2%;
        }

        .ui-btn
        {
            border: 1px #000;
        }

        .ui-listview li > .ui-btn
        {
            -webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
        }

        /* Make all list items and anchors inherit the border-radius from the UL. */
        .ui-listview li, .ui-listview li .ui-btn
        {
            -webkit-border-radius: inherit;
            border-radius: inherit;
        }

        /* Hide the icon */
        .ui-listview .ui-btn-icon-right:after {
            display: none;
        }

        /* Make text wrap. */
        .ui-listview h2 {
            white-space: normal;
            overflow: visible;
            position: absolute;
            left: 0;
            right: 0;
        }

        /* Text position */
        .ui-listview h2 {
            font-size: 1.25em;
            margin: 0;
            padding: .125em 1em;
            bottom: 50%;
        }

        /* If you want to add shadow, don't kill the focus style. */
        .ui-listview li {
            -moz-box-shadow: 0px 0px 9px #111;
            -webkit-box-shadow: 0px 0px 9px #111;
            box-shadow: 0px 0px 9px #111;
        }

        /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
        .ui-listview li > .ui-btn:hover {
            -moz-box-shadow: 0px 0px 12px #33ccff;
            -webkit-box-shadow: 0px 0px 12px #33ccff;
            box-shadow: 0px 0px 12px #33ccff;
        }

        /* Animate focus and hover style, and resizing. */
        .ui-listview li, .ui-listview .ui-btn
        {
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            transition: all 500ms ease;
        }
    }
</style>

<div data-role="header">
  <h1>Main City Services</h1>
  <%= link_to 'Home', root_url, 'data-icon' => 'home', 'class' => 'ui-btn-left', 'data-iconpos' => 'notext', :target => '_parent' %>
</div>


<div role="main" class="ui-content">
    <ul data-role="listview" data-inset="true">

      <li><a href="<%= pharms_path %>?filter1=now" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Pharms</h2>
      </a></li>

      <li><a href="<%= hospitals_path %>?filter1=now" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Hospitals &<br>Medical Guards</h2>
      </a></li>

      <li><a href="<%= fuels_path %>?filter1=now" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Fuel Stations</h2>
      </a></li>

      <li><a href="<%= restaurants_path %>?filter1=now" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Restaurants &<br>Café</h2>
      </a></li>

      <li><a href="" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Bed and Breakfast &<br>Hotels</h2>
      </a></li>

      <li><a href="" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Cinema & Theaters</h2>
      </a></li>

      <li><a href="" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Schools & Universities</h2>
      </a></li>

      <li><a href="" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Financial Services &<br>City - Regional Stores</h2>
      </a></li>

      <li><a href="<%= parks_path %>?filter1=now" target="_parent" class="ui-btn ui-btn-mcs">
        <h2>Parks - Garages &<br>Taxi Services</h2>
      </a></li>

    </ul>
</div>