<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

<script type="text/javascript">

    var map;
    var geocoder;
    var mypos = 0;

    var cityCircle;

    var intervall = window.setInterval(checkpos, 2000);

    function checkpos() {
        if(mypos == 0)
            preinit();
    }

    function preinit() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                mypos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                window.clearInterval(intervall);
                initialize();
            }, function() {
                handleNoGeolocation(true);
            });
        } else {
            handleNoGeolocation(false);
        }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            alert("Error: The Geolocation service failed.");
        } else {
            alert("Error: Your browser doesn\'t support geolocation.");
        }
    }

    function initialize() {
        geocoder = new google.maps.Geocoder();

        var mapOptions = {
            center: mypos,
            zoom: 17,
            minZoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var circle = {
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: mypos,
            radius: 5000
        };
        // Add the circle for this city to the map.
        cityCircle = new google.maps.Circle(circle);

        addMarker();
    }

    function addMarker() {
        <% @pharms.each do |pharm| %>
            if (google.maps.geometry.poly.containsLocation(new google.maps.LatLng(<%= pharm.lat %>, <%= pharm.lng %>), cityCircle)) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(<%= pharm.lat %>, <%= pharm.lng %>),
                    map: map,
                    title: '<%= pharm.name %>'
                });
            } else {
                result = 'green';
            }
        <% end %>
    }

    google.maps.event.addDomListener(window, 'load', preinit);

</script>


<div data-role="header">
  <h1>Nearest Services</h1>
  <%= link_to 'Home', root_url, 'data-icon' => 'home', 'class' => 'ui-btn-left' %>
</div>


<div data-role="content">

  <div class="ui-bar ui-bar-c ui-corner-all ui-shadow">
    <div id="map-canvas" style="width: 100%; height: 100%; min-height: 400px" class="ui-corner-all ui-shadow"></div>
  </div>

  <ul data-role="listview" data-inset="true" data-filter="true">
    <% @pharms.each do |pharm| %>
        <li>
          <a href="<%= "#{pharms_url}/#{pharm.id}" %>" target="_parent">
            <img src="/assets/icon/pharm.png">
            <h2><%= pharm.name %></h2>
            <p><%= pharm.address %></p>
            <%= link_to 'Edit', edit_pharm_path(pharm), 'data-icon' => 'edit', :target => '_parent' %>
          </a>
        </li>
    <% end %>
  </ul>

</div>