<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer_packed.js"></script>

<script type="text/javascript">

    var map, layer;

    var n1, n2;

    var rendererOptions = {
        strokeColor: "#FF0000",
        //draggable: true,
        preserveViewport: true,
        suppressMarkers: true
    };

    <% if notice != nil %>
        $(function() {
            $( "#dialog" ).dialog();
        });
    <% end %>


    function initialize() {
        var mapOptions = {
            zoom: 18,
            center: new google.maps.LatLng(37.508059, 375.082752)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('results'));

        var directionsService = new google.maps.DirectionsService();

        layer = new google.maps.FusionTablesLayer({
            query: {
                select: '\'latitude\'',
                from: '1VRWffIb31b6fdGhbUJrVr8EoY2RS4R1gUl63cUAO'
            },
            options: {
                suppressInfoWindows: true
            }
        });
        layer.setMap(map);

        var infowindow = new google.maps.InfoWindow();

        var check = true;
        var start = null;

        google.maps.event.addListener(layer, 'click', function(e) {
            if (check) {
                document.getElementById("info").style.display = "none";
                n1 = e.row['idnod'].value;
                infowindow.setContent(e.infoWindowHtml +
                        '<br><label>Click on another point</label>');
                infowindow.setPosition(e.latLng);
                infowindow.open(map);
                check = false;
                start = e.latLng;
            } else {
                infowindow.close();
                n2 = e.row['idnod'].value;

                var request = {
                    origin: start,
                    destination: e.latLng,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                };
                directionsService.route(request, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setOptions({ suppressMarkers: true, preserveViewport: true });
                        directionsDisplay.setDirections(response);
                        showSteps(response);
                    } else {
                        window.alert('Error generating directions: ' + status);
                    }
                });
                check = true;
            }
        });
    }

    function showSteps(res) {
        var myRoute = res.routes[0].legs[0];
        if(myRoute.steps.length == 1) {
            var duration = myRoute.duration.value;
            var dist = myRoute.distance.value;
            //alert("DURATA: " + duration + " --- DISTANZA: " + dist);

            $('#link_n1').val(n1);
            $('#link_n2').val(n2);
            $('#link_Timeg').val(duration);
            //$('#link_Timew').val(duration);
            $('#link_Distance').val(dist);
            document.getElementById("info").style.display = "block";
        }
    }

    /*function addMarker() {
     var icon = { anchor: new google.maps.Point(11, 11), url: "http://load.my-azur.de/f/o/dot-red.png"};
    <%# @nodos.each do |itm| %>
     var coord = new google.maps.LatLng(<%#= itm.lat %>, <%#= itm.lng %>);
     var title = '<%#= itm.id %>';
     var marker = new google.maps.Marker({
     map: map,
     title: title,
     position: coord,
     icon: icon
     });
     map.setCenter(coord);

     infowindow = new google.maps.InfoWindow({
     content: '<span class="infowin"><%#= itm.id %></span>'
     });
     google.maps.event.addListener(marker, 'click', function () {
     infowindow.setContent('<span class="infowin"><%#= itm.id %></span>');
     infowindow.open(map, this);
     });
    <%# end %>
     }*/

    /*function addLink() {
    <%# @links.each do |itm| %>
     var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
     var directionsService = new google.maps.DirectionsService();
    <%# @n1 = Nodo.find(itm.n1) %>
            <%# @n2 = Nodo.find(itm.n2) %>
            <%# @id = itm.id %>
     var start = new google.maps.LatLng(<%#= @n1.lat %>, <%#= @n1.lng %>);
     var end = new google.maps.LatLng(<%#= @n2.lat %>, <%#= @n2.lng %>)

     calcRoute(start, end, directionsService, directionsDisplay);
    <%# end %>
     }*/

    /*function calcRoute(start, end, dS, dD) {
     dD.setMap(map);

     var request = {
     origin:start,
     destination:end,
     travelMode: google.maps.TravelMode.DRIVING
     };

     dS.route(request, function(response, status) {
     if (status == google.maps.DirectionsStatus.OK) {
     dD.setDirections(response);

     google.maps.event.addListener(response, 'click', function () {
     alert("c9a");
     });

     google.maps.event.addListener(dS, 'click', function () {
     alert("c9a");
     });
     }
     });
     }*/

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div data-role="content">

  <div id="dialog" title="Message" style="background: #ffffff">
    <p><%= notice %></p>
  </div>


  <%= form_for(@link, :html => {:target => '_parent'} ) do |f| %>
      <% if @link.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

            <ul>
              <% @link.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div id="info" class="ui-corner-all ui-bar ui-bar-a" style="margin-bottom: 10px; display: none">
            <div class="ui-grid-c">
              <div class="ui-block-a" style="padding-right: 5px">
                <strong><b><label for="link_Latitude">DA Nodo</label></b></strong>
                <input id="link_n1" name="link[n1]" readonly="readonly" type="text">
              </div>
              <div class="ui-block-b" style="padding-left: 5px; padding-right: 5px">
                <strong><b><label for="nodo_Longitude">A Nodo</label></b></strong>
                <input id="link_n2" name="link[n2]" readonly="readonly" type="text">
              </div>
              <div class="ui-block-c" style="padding-left: 5px; padding-right: 5px">
                <strong><b><label for="link_Latitude">Durata (s)</label></b></strong>
                <input id="link_Timeg" name="link[Timeg]" readonly="readonly" type="text">
              </div>
              <div class="ui-block-d" style="padding-left: 5px">
                <strong><b><label for="nodo_Longitude">Distanza (m)</label></b></strong>
                <input id="link_Distance" name="link[Distance]" readonly="readonly" type="text">
              </div>
            </div>

            <%= f.submit 'Create Link' %>
      </div>

  <% end %>

  <div id="map-canvas" style="width: 100%; height: 630px" class="ui-corner-all"></div>

</div>