<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @link.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @link.n2 %>
</p>

<p>
  <strong>Timep:</strong>
  <%= @link.Timeg %>
</p>

<p>
  <strong>Flussin:</strong>
  <%= @link.FlussIn %>
</p>

<p>
  <strong>Flussout:</strong>
  <%= @link.FlussOut %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
