<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="assets/jquery.datetimepicker.css">
<script src="assets/jquery.datetimepicker.js"></script>

<script>

    function getrestaurant() {
        var type = "<%= params[:type] %>";
        if(type != 'restaurant') {
            var http = location.href.replace('&type=cafe', '');
            location.href = http+'&type=restaurant';
        }
        else {
            var http = location.href.replace('&type=restaurant', '');
            location.href = http;
        }
    }

    function getcafe() {
        var type = "<%= params[:type] %>";
        if(type != 'cafe') {
            var http = location.href.replace('&type=restaurant', '');
            location.href = http+'&type=cafe';
        }
        else {
            var http = location.href.replace('&type=cafe', '');
            location.href = http;
        }
    }

    function getAll() {
        var currentDate = $( "#datepicker" ).datepicker( "getDate" );
        var currentTime = $( "#timeh" ).val();

        if(currentDate.getDay() == 0) {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day=7&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter=all';
        }
        else {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day='+currentDate.getDay()+'&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter=all';
        }
    }

    function getOpened() {
        var currentDate = $( "#datepicker" ).datepicker( "getDate" );
        var currentTime = $( "#timeh" ).val();

        if(currentDate.getDay() == 0) {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day=7&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter=open';
        }
        else {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day='+currentDate.getDay()+'&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter=open';
        }
    }

    function getNotturne() {
        var time = $('#timeh').val();
        var h = time.split(":")[0];
        var min = time.split(":")[1];

        if (h >= 7) {
            $('#timeh').val('23:30');
            var currentDate = $( "#datepicker" ).datepicker( "getDate" );
            var currentTime = $( "#timeh" ).val();

            if(currentDate.getDay() == 0) {
                location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day=7&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter2=notturne';
            }
            else {
                location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day='+currentDate.getDay()+'&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter2=notturne';
            }
        }
    }

    function setNow() {
        $( "#datepicker" ).datepicker( "setDate", new Date("<%= Time.now %>") );
        $('#timeh').datetimepicker({value:'<%= Time.now.to_s.split(" ")[1] %>'});

        var currentDate = $( "#datepicker" ).datepicker( "getDate" );
        var currentTime = $( "#timeh" ).val();

        if(currentDate.getDay() == 0) {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day=7&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter1=now';
        }
        else {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day='+currentDate.getDay()+'&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1]+'&filter1=now';
        }
    }

    function getDomenicali() {
        var currentDate = $( "#datepicker" ).datepicker( "getDate" );
        var addday = 7 - currentDate.getDay();

        if(addday!=7) {
            $( "#datepicker" ).datepicker( "setDate", new Date((currentDate.getMonth()+1)+"/"+(currentDate.getDate()+addday)+"/"+currentDate.getFullYear()) );
        }
        changeDateTime(this, this);
    }

    function changeDateTime(event, ui) {

        var currentDate = $( "#datepicker" ).datepicker( "getDate" );
        var currentTime = $( "#timeh" ).val();

        if(currentDate.getDay() == 0) {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day=7&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1];
        }
        else {
            location.href='restaurants?d='+currentDate.getDate()+'&m='+(currentDate.getMonth()+1)+'&y='+currentDate.getFullYear()+'&day='+currentDate.getDay()+'&h='+currentTime.split(":")[0]+'&min='+currentTime.split(":")[1];
        }
    }

    function getDateTime() {
        var d = "<%= params[:d] %>";
        var m = "<%= params[:m] %>";
        var y = "<%= params[:y] %>";

        var h = "<%= params[:h] %>";
        var min = "<%= params[:min] %>";

        $( "#datepicker" ).datepicker( "setDate", new Date(m+"/"+d+"/"+y) );

        if(h)
            $( "#timeh" ).val( h+":"+min );

        <% if params[:day]
                @today = params[:day]
                @t = Time.local(params[:y], params[:m], params[:d], params[:h], params[:min])
           end
        %>
    }

    $(function() {
        <% if params[:filter] == 'all' %>
        $( "#filterall" ).css("border-color", "red");
        $( "#filterall" ).css("border-width", "2px");
        <% else %>
        $( "#filteropen" ).css("border-color", "red");
        $( "#filteropen" ).css("border-width", "2px");
        <% end %>

        <% if params[:filter1] == 'now' %>
        $( "#filternow" ).css("height", "18px");
        $( "#filternow" ).css("border-color", "red");
        $( "#filternow" ).css("border-width", "2px");
        <% end %>

        <% if params[:filter2] == 'notturne' %>
        $( "#filternotturne" ).css("height", "18px");
        $( "#filternotturne" ).css("border-color", "red");
        $( "#filternotturne" ).css("border-width", "2px");
        <% end %>

        <% if params[:day] == '7' %>
        $( "#filtersunday" ).css("height", "18px");
        $( "#filtersunday" ).css("border-color", "red");
        $( "#filtersunday" ).css("border-width", "2px");
        <% end %>

        <% if params[:type] == 'restaurant' %>
        $( "#restaurant" ).css("height", "18px");
        $( "#restaurant" ).css("border-color", "red");
        $( "#restaurant" ).css("border-width", "2px");
        <% end %>

        <% if params[:type] == 'cafe' %>
        $( "#cafe" ).css("height", "18px");
        $( "#cafe" ).css("border-color", "red");
        $( "#cafe" ).css("border-width", "2px");
        <% end %>


        $( '#datepicker' ).datepicker( { dateFormat: "dd/mm/yy" } );
        $( "#datepicker" ).datepicker( "setDate", new Date("<%= @t %>") );
        $( "#datepicker" ).on("change", function( event, ui ) {
            changeDateTime(event, ui);
        });

        $('#timeh').datetimepicker({
            datepicker:false,
            format:'H:i',
            step: 15,
            value:'<%= @t.to_s.split(" ")[1] %>',
            onChangeDateTime: function(dp,$input) {
                changeDateTime(dp, $input)
            }
        });

        getDateTime();
    });
</script>


<div data-role="header" data-theme="b">
  <h1>Restaurants & Café</h1>
  <div id="custom-border-radius" class="ui-btn-left" data-role="controlgroup" data-type="horizontal" data-mini="true">
    <%= link_to 'Back', 'intloc', 'data-icon' => 'back', 'data-role' => 'button', 'data-iconpos' => 'notext' %>
    <%= link_to 'Home', root_url, 'data-icon' => 'home', 'data-role' => 'button', 'data-iconpos' => 'notext', :target => '_parent' %>
  </div>
  <a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-right ui-icon-plus ui-btn-icon-notext">Add</a>
</div>


<div data-role="content">

  <fieldset class="ui-grid-a ui-corner-all">
    <div class="ui-block-a">
      <a class="ui-corner-all ui-btn" id="restaurant" type="button" onclick="getrestaurant();">Restaurants</a>
    </div>
    <div class="ui-block-b">
      <a class="ui-corner-all ui-btn" id="cafe" type="button" onclick="getcafe();">Café</a>
    </div>
  </fieldset >

  <fieldset class="ui-grid-a ui-corner-all">
    <div class="ui-block-a">
      <a class="ui-corner-all ui-btn" id="filterall" type="button" onclick="getAll();">All</a>
    </div>
    <div class="ui-block-b">
      <a class="ui-corner-all ui-btn" id="filteropen" type="button" onclick="getOpened();">Open</a>
    </div>
  </fieldset >

  <div class="ui-grid-a ui-corner-all">
    <div class="ui-block-a">
      <div class="ui-bar ui-bar-a"><input id='datepicker' placeholder='Date' style="height: 43px"/></div>
    </div>
    <div class="ui-block-b">
      <div class="ui-bar ui-bar-a"><input id="timeh" type="text" style="height: 43px"></div>
    </div>
  </div>

  <div class="ui-grid-b ui-corner-all">
    <div class="ui-block-a">
      <div class="ui-bar ui-bar-b"><a id="filtersunday" class="ui-corner-all ui-btn ui-btn-active" type="button" onclick="getDomenicali();">Sunday</a></div>
    </div>
    <div class="ui-block-b">
      <div class="ui-bar ui-bar-b"><a id="filternow" class="ui-corner-all ui-btn ui-btn-active" type="button" onclick="setNow();">Now</a></div>
    </div>
    <div class="ui-block-c">
      <div class="ui-bar ui-bar-b"><a id="filternotturne" class="ui-corner-all ui-btn ui-btn-active" type="button" onclick="getNotturne();">Night</a></div>
    </div>
  </div>

  <%
     def isOpen(type)
       if (@today == '1') # LUNEDì
         puts "LUNEDì"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.LM.split(' - ')[0]).split(':')[0], (type.LM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.LM.split(' - ')[1]).split(':')[0], (type.LM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.LP.split(' - ')[0]).split(':')[0], (type.LP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.LP.split(' - ')[1]).split(':')[0], (type.LP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
       if (@today == '2') # MARTEDì
         puts "MARTEDì"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.MM.split(' - ')[0]).split(':')[0], (type.MM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.MM.split(' - ')[1]).split(':')[0], (type.MM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.MP.split(' - ')[0]).split(':')[0], (type.MP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.MP.split(' - ')[1]).split(':')[0], (type.MP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
       if (@today == '3') # MERCOLEDì
         puts "MERCOLEDì"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.MEM.split(' - ')[0]).split(':')[0], (type.MEM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.MEM.split(' - ')[1]).split(':')[0], (type.MEM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.MEP.split(' - ')[0]).split(':')[0], (type.MEP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.MEP.split(' - ')[1]).split(':')[0], (type.MEP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
       if (@today == '4') # GIOVEDì
         puts "GIOVEDì"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.GM.split(' - ')[0]).split(':')[0], (type.GM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.GM.split(' - ')[1]).split(':')[0], (type.GM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.GP.split(' - ')[0]).split(':')[0], (type.GP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.GP.split(' - ')[1]).split(':')[0], (type.GP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
       if (@today == '5') # VENERDì
         puts "VENERDì"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.VM.split(' - ')[0]).split(':')[0], (type.VM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.VM.split(' - ')[1]).split(':')[0], (type.VM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.VP.split(' - ')[0]).split(':')[0], (type.VP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.VP.split(' - ')[1]).split(':')[0], (type.VP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
       if (@today == '6') # SABATO
         puts "SABATO"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.SM.split(' - ')[0]).split(':')[0], (type.SM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.SM.split(' - ')[1]).split(':')[0], (type.SM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.SP.split(' - ')[0]).split(':')[0], (type.SP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.SP.split(' - ')[1]).split(':')[0], (type.SP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
       if (@today == '7') # MERCOLEDì
         puts "DOMENICA"
         if (Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.DM.split(' - ')[0]).split(':')[0], (type.DM.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.DM.split(' - ')[1]).split(':')[0], (type.DM.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i || Range.new(
                 Time.local(@t.year, @t.month, @t.day, (type.DP.split(' - ')[0]).split(':')[0], (type.DP.split(' - ')[0]).split(':')[1]).to_i,
                 Time.local(@t.year, @t.month, @t.day, (type.DP.split(' - ')[1]).split(':')[0], (type.DP.split(' - ')[1]).split(':')[1]).to_i,
         ) === @t.to_i)
           return true
         end
       end
     end
  %>

  <ul data-role="listview" data-inset="true" data-filter="true">
    <% if !@restaurants.nil? && ( ( params[:type] != '' && params[:type] == 'restaurant' ) || params[:type] == nil )
         @restaurants.each do |restaurant|
           if params[:filter] == 'all' %>
                <li>
                  <%          if isOpen(restaurant) %>
                      <a href="<%= "#{restaurants_url}/#{restaurant.id}?time="+@t.to_s %>" target="_parent">
                        <img src="/assets/icon/restaurant.png">
                  <%          else    %>
                      <a href="<%= "#{restaurants_url}/#{restaurant.id}?s=close&time="+@t.to_s %>" target="_parent">
                        <img src="/assets/icon/restaurant.png">
                  <%	        end     %>
                  <h2><%= restaurant.name %></h2>
                  <p><%= restaurant.address %></p>
                  <%= link_to 'Edit', edit_restaurant_path(restaurant), 'data-icon' => 'edit', :target => '_parent' %>
                  </a>
                </li>
            <%    else
                    if isOpen(restaurant) %>
                    <li>
                      <a href="<%= "#{restaurants_url}/#{restaurant.id}?time="+@t.to_s %>" target="_parent">
                        <img src="/assets/icon/restaurant.png">
                        <h2><%= restaurant.name %></h2>
                        <p><%= restaurant.address %></p>
                        <%= link_to 'Edit', edit_restaurant_path(restaurant), 'data-icon' => 'edit', :target => '_parent' %>
                      </a>
                    </li>
                <%      end
                        end     %>

        <% end
           end %>

    <% if !@caves.nil? && ( ( params[:type] != '' && params[:type] == 'cafe' ) || params[:type] == nil )
         @caves.each do |cafe| %>
            <li>
              <a href="<%= "#{caves_url}/#{cafe.id}?time="+@t.to_s %>" target="_parent">
                <img src="/assets/icon/restaurant.png">
                <h2><%= cafe.name %></h2>
                <p><%= cafe.address %></p>
                <%= link_to 'Edit', edit_cafe_path(cafe), 'data-icon' => 'edit', :target => '_parent' %>
              </a>
            </li>
        <%     end
               end %>
  </ul>
</div>

<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" style="max-width:400px;">
  <div role="main" class="ui-content">
    <%= link_to 'Restaurants', new_restaurant_path, 'class' => 'ui-btn', :target => '_parent' %>
    <%= link_to 'Café', new_cafe_path, 'class' => 'ui-btn', :target => '_parent' %>
  </div>
</div>