<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @restaurant.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @restaurant.lng %>
</p>

<p>
  <strong>Lm:</strong>
  <%= @restaurant.LM %>
</p>

<p>
  <strong>Lp:</strong>
  <%= @restaurant.LP %>
</p>

<p>
  <strong>Mm:</strong>
  <%= @restaurant.MM %>
</p>

<p>
  <strong>Mp:</strong>
  <%= @restaurant.MP %>
</p>

<p>
  <strong>Mem:</strong>
  <%= @restaurant.MEM %>
</p>

<p>
  <strong>Mep:</strong>
  <%= @restaurant.MEP %>
</p>

<p>
  <strong>Gm:</strong>
  <%= @restaurant.GM %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @restaurant.GP %>
</p>

<p>
  <strong>Vm:</strong>
  <%= @restaurant.VM %>
</p>

<p>
  <strong>Vp:</strong>
  <%= @restaurant.VP %>
</p>

<p>
  <strong>Sm:</strong>
  <%= @restaurant.SM %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @restaurant.SP %>
</p>

<p>
  <strong>Dm:</strong>
  <%= @restaurant.DM %>
</p>

<p>
  <strong>Dp:</strong>
  <%= @restaurant.DP %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
