<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>WiCity 2.0</title>
  <!-- <#%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- <link rel="stylesheet" href="assets/themes/wicity.css" />
  <link rel="stylesheet" href="assets/themes/jquery.mobile.icons.min.css" />-->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>

  <style>
      .bg {
          background: url('/assets/bg/city-lights.jpg') center center no-repeat;
          background-size: cover;
      }

      .bg:before
      {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
          opacity: .6;
      }
  </style>

  <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script> -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1B0-8HQeTef2Nz3WxoqEjFm-Riuxtbic&sensor=true"></script>
</head>

<body>

<div data-role="page" class="bg">

  <!-- <#%- if !notice.nil? -%>
      <p class="notice"><#%= notice %></p>
  <#%- end -%>
  <#%- if !alert.nil? -%>
      <p class="alert"><#%= alert %></p>
  <#%- end -%> -->

  <%= yield %>

  <% if request.original_url.start_with?(pharms_url) %>
      <div data-role="footer" data-position="fixed" data-theme='b'>
  <% else %>
      <div data-role="footer" data-position="fixed">
  <% end %>

        <h2>KMetropolis Project</h2>
        <% if user_signed_in? %>
            <%= link_to "Hi #{current_user.name}, Logout", destroy_user_session_path, method: :delete, 'data-icon' => 'delete', 'class' => 'ui-btn-right', 'target' => '_parent' %>
        <% end %>
      </div>

      <div data-role="popup" id="popupLogin" data-overlay-theme="b" data-dismissible="true" style="width:100%; height: 100%">
        <div data-role="header" data-theme="a">
          <h1>Login</h1>
        </div>
        <div role="main" class="ui-content">
          <p><%= form_for('user', :url => user_session_path, :html => { :target => '_parent' }) do |f| %>
                <%= f.text_field :email, 'placeholder' => 'Email' %>
                <%= f.password_field :password, 'placeholder' => 'Password' %>
                <%= f.submit 'Sign in' %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                <%= link_to 'Forgot your password?', new_password_path('user') %></br>
                <%= link_to 'Sign up', new_registration_path('user'), :target => '_parent' %>
            <% end %></p>
        </div>
      </div>

</div>

</body>
</html>
